<div class="container-fluid">
  <div class="row">
<div class="col-md-4">
  <img src="../images/default-profile.png" alt="" class="img-thumbnail">
</div>
<div class="col-md-2">
<h4>{{model.firstname}} {{model.lastname}}</h4>
</div>
<div class="col-md-2">
  <span>age:</span> {{model.age}}
</div>
<div class="col-md-2">
  <span>Position:</span> {{model.position}}
</div>
<div class="col-md-2">
  <span>League</span> {{model.league}}
</div>
</div>
</div>
